* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'zai Thin Handwritten Lettering', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-container {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    width: 30vw;
    height: 100vh;
    background-color: rgba(233, 239, 240, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5em;
    letter-spacing: 0.2em;
    padding-top: 20px;
}

.gridOptionsContainer {
    margin-top: 50px;
    background-color: rgba(184, 189, 190, 0.5);
    padding: 30px 10px 30px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridOptionsContainer > span {
    font-size: 3em;
    margin-bottom: 20px;
}

.gridInput {
    display: flex;
    align-items: center;
    gap: 10px
}

.gridInput > span {
    font-size: 2em;
    letter-spacing: 0.1em;
}

.gridInput > input {
    padding: 0px 0px 0px 15px;
    font-size: 2em;
    border-radius: 10px;
    border: 1px solid;
}

.sketchPad {
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.grid {
    background-color: #ffffee;
}

#gridActive {
    background-color: #5c6274;
}

.error {
    border: 1px solid red !important;
    outline: red;
    color: red;
}

.error:focus {
    border-color: 2px solid red !important;
}

.buttonsContainer {
    margin-top: 40px;
    width: 22vw;
    height: 7vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset {
    font-size: 3em;
    padding: 0px 50px 0px 50px;
    border-radius: 50px;
    letter-spacing: 0.1em;
}

